@import "./404";

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/coffeehouse.jpg");
    min-height: 75%;
}

.menu {
    display: none;
}
