.cross {
    margin-left: 10px;

    &:before,
    &:after {
        position: absolute;
        content: ' ';
        height: 20px;
        width: 2px;
        background-color: $danger;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:focus {
        outline: none;
    }
}
