.hcms-cursor-forbidden {
    cursor: not-allowed;
    &:hover {
        cursor: not-allowed;
        fill: none;
    }
}

.hcms-cursor-pointer {
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }
}
