.hcms-description-preview {
    border: 1px solid;
    padding: 0.3rem;
    display: block;
}

.hcms-description-preview h2 {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: normal;
    color: rgb(29, 1, 189);
    margin-bottom: 0px;
    margin-top: 0.4rem;
}

.hcms-description-preview a {
    font-size: 0.9rem;
    line-height: 0.9rem;
    color: green;
    margin-bottom: 0px;
}

.hcms-description-preview button {
    font-size: 0.7rem;
    line-height: 0.9rem;
    color: green;
    margin-bottom: 0px;
    padding: 0px;
    border-width: 0px;
    background-color: white;
}

.hcms-description-preview p {
    word-wrap: break-word;
}
