.table-svg {
    transition: all 0.1s ease-in-out;
}

.svg-delete {
    @extend .table-svg;

    &:hover {
        fill: $danger;
        cursor: pointer;
    }
}

.svg-check {
    color: $success;
}
