.hcms-switch-danger input:checked ~ .custom-control-label {
    &::before {
        color: $white;
        background-color: $danger;
        border-color: $danger;
    }
}

.hcms-switch-info input:checked ~ .custom-control-label {
    &::before {
        color: $white;
        background-color: $info;
        border-color: $info;
    }
}

.hcms-switch-warning input:checked ~ .custom-control-label {
    &::before {
        color: $white;
        background-color: $warning;
        border-color: $warning;
    }
}

.hcms-switch-success input:checked ~ .custom-control-label {
    &::before {
        color: $white;
        background-color: $success;
        border-color: $success;
    }
}
