.hcms-tooltip {
    display: inline-block;
    max-width: 200px;
    font-size: 0.875em;
    padding: 0.75em;
    position: absolute;
    z-index: 5000;
    text-align: center;
    background: #050507d0;
    color: #ebedef;
    border-radius: 3px;
    animation: fade-in 0.3s;

    &::after {
        position: absolute;
        display: block;
        content: '';
    }

    // position arrow on the right of the tooltip
    &.tooltip-left::after {
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        border: {
            style: solid;
            width: 6px 0 6px 8px;
            color: transparent transparent transparent #2d2d2d;
        }
    }

    // position arrow on the left of the tooltip
    &.tooltip-right::after {
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
        border: {
            style: solid;
            width: 6px 8px 6px 0;
            color: transparent #2d2d2d transparent transparent;
        }
    }

    &.tooltip-top::after,
    &.tooltip-bottom::after {
        left: 50%;
        transform: translateX(-50%);
        border: {
            style: solid;
            color: transparent;
        }
    }

    // position arrow in the bottom center of the tooltip
    &.tooltip-bottom::after {
        top: -8px;
        border-width: 0 6px 8px 6px;
        border-bottom-color: #2d2d2d;
    }

    // position arrow in the top center of the tooltip
    &.tooltip-top::after {
        bottom: -8px;
        border-width: 8px 6px 0 6px;
        border-top-color: #2d2d2d;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
